workspace/Recuperatorio/Actividad1/Actividad1CXF/WebContent/wsdl/paisesws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PaisesWSService" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getPaises" type="tns:getPaises"/>
  <xs:element name="getPaisesResponse" type="tns:getPaisesResponse"/>
  <xs:element name="test" type="tns:test"/>
  <xs:element name="testResponse" type="tns:testResponse"/>
  <xs:complexType name="getPaises">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getPaisesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:paisBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paisBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codPais" type="xs:string"/>
      <xs:element minOccurs="0" name="nomPais" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="test">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="testResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="tns:testResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaises">
    <wsdl:part name="parameters" element="tns:getPaises">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part name="parameters" element="tns:test">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaisesResponse">
    <wsdl:part name="parameters" element="tns:getPaisesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaisesWS">
    <wsdl:operation name="getPaises">
      <wsdl:input name="getPaises" message="tns:getPaises">
    </wsdl:input>
      <wsdl:output name="getPaisesResponse" message="tns:getPaisesResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input name="test" message="tns:test">
    </wsdl:input>
      <wsdl:output name="testResponse" message="tns:testResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaisesWSServiceSoapBinding" type="tns:PaisesWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPaises">
      <soap:operation soapAction="urn:GetPaises" style="document"/>
      <wsdl:input name="getPaises">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaisesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="urn:Test" style="document"/>
      <wsdl:input name="test">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaisesWSService">
    <wsdl:port name="PaisesWSPort" binding="tns:PaisesWSServiceSoapBinding">
      <soap:address location="http://localhost:8080/Actividad1CXF/services/PaisesWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
