workspace/Recuperatorio/Parcial3/CatProgAcadWS/WebContent/wsdl/categoriasws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CategoriasWSService" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.das.ubp.edu.ar/">
  <xs:element name="getCategorias" type="tns:getCategorias"/>
  <xs:element name="getCategoriasResponse" type="tns:getCategoriasResponse"/>
  <xs:complexType name="getCategorias">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCategoriasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:categoriaBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="descCategoria" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategorias">
    <wsdl:part name="parameters" element="tns:getCategorias">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategoriasResponse">
    <wsdl:part name="parameters" element="tns:getCategoriasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICategorias">
    <wsdl:operation name="getCategorias">
      <wsdl:input name="getCategorias" message="tns:getCategorias">
    </wsdl:input>
      <wsdl:output name="getCategoriasResponse" message="tns:getCategoriasResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoriasWSServiceSoapBinding" type="tns:ICategorias">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCategorias">
      <soap:operation soapAction="urn:GetCategorias" style="document"/>
      <wsdl:input name="getCategorias">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCategoriasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoriasWSService">
    <wsdl:port name="CategoriasWSPort" binding="tns:CategoriasWSServiceSoapBinding">
      <soap:address location="http://localhost:9090/CategoriasWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
