workspace/parcial3CXF/WebContent/wsdl/servicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServicioService" targetNamespace="http://fdeschant.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fdeschant.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://fdeschant.das.ubp.edu.ar/" xmlns:tns="http://fdeschant.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getCategorias" type="tns:getCategorias"/>
  <xs:element name="getCategoriasResponse" type="tns:getCategoriasResponse"/>
  <xs:complexType name="getCategorias">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCategoriasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:categoria"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_categoria" type="xs:string"/>
      <xs:element minOccurs="0" name="desc_categoria" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCategorias">
    <wsdl:part name="parameters" element="tns:getCategorias">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategoriasResponse">
    <wsdl:part name="parameters" element="tns:getCategoriasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Servicio">
    <wsdl:operation name="getCategorias">
      <wsdl:input name="getCategorias" message="tns:getCategorias">
    </wsdl:input>
      <wsdl:output name="getCategoriasResponse" message="tns:getCategoriasResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioServiceSoapBinding" type="tns:Servicio">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCategorias">
      <soap:operation soapAction="urn:GetCategorias" style="document"/>
      <wsdl:input name="getCategorias">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCategoriasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioService">
    <wsdl:port name="ServicioPort" binding="tns:ServicioServiceSoapBinding">
      <soap:address location="http://localhost:8080/parcial3CXF/services/ServicioPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
